<!DOCTYPE html>
<html>
    <head align="center">ML API</head>

    <body>
        <div align="center">
            <h1>Car Price Prediction</h1>
            
            <!--Inputs for the ML Model-->
            <form action="{{url_for('predict')}}" method="post" align="left">
                <input type="text" name="present _price" placeholder="Present Price in Lacs" required /><br>
                <input type="text" name="kms_driven" placeholder="KMS Driven" required /><br>
                <input type="text" name="past_owner" placeholder="Past Owner" required /><label>(1-Yes,0-No)</label><br>
                <input type="text" name="Age" placeholder="Age" required /><br>
                <input type="text" name="Fuel_desiel" placeholder="Fuel Type Desiel" required /><label>(1-Yes,0-No)</label></label><br>
                <input type="text" name="Fuel_petrol" placeholder="Fuel Type Petrol" required /><label>(1-Yes,0-No)</label><br>
                <input type="text" name="Seller_tyep" placeholder="Seller Type Individual" required /><label>(1-Yes,0-No)</label><br>
                <input type="text" name="Transmission_type" placeholder="Automatic or Manual" required /><label>(1-Manual,0-Automatic)</label><br>

                <button type="submit">Predict</button>            
            </form>
        </div>
        {{predicted_value}}
    </body>
</html>